.about {
  display: flex;
  flex-direction: column;
  position: relative;

  @include media-breakpoint-up(landscapeTablet) {
    flex-direction: row;
    margin: 4rem auto;
  }

  &::before {
    content: '';
    width: 35rem;
    height: 65em;
    background: $color-purple;
    position: absolute;
    top: -6rem;
    left: 0;
    z-index: -1;

    @include media-breakpoint-up(landscapePhone) {
      width: 42rem;
      height: 69rem;
    }

    @include media-breakpoint-up(phablet) {
      width: 49rem;
    }

    @include media-breakpoint-up(portraitTablet) {
      width: 56rem;
      height: 67rem;
      top: -10rem;
    }

    @include media-breakpoint-up(landscapeTablet) {
      width: 44rem;
      top: -14rem;
    }

    @include media-breakpoint-up(laptop) {
      height: 65rem;
      width: 54rem;
    }
  }



  .about-heading {
    padding: 2rem 14rem;

    @include media-breakpoint-up(portraitTablet) {
      transform: rotate(-90deg);
      position: absolute;
      left: -9rem;
      bottom: 39rem;
    }

    @include media-breakpoint-up(landscapeTablet) {
      left: -14rem;
      bottom: 13rem;
    }

    @include media-breakpoint-up(laptop) {
      bottom: 18rem;
    }

    &::before {
      content: '';
      background: #000;
      height: .2rem;
      width: 13rem;
      position: absolute;
      top: 3rem;
      left: 1rem;

      @include media-breakpoint-up(portraitTablet) {
        bottom: 1rem;
        left: -10rem;
        width: 24rem;
      }
    }
  }

  .hero {
    display: block;
    padding: 4rem;
    margin: 2rem;
    background: url('./../../images/me.jpg');
    background-size: cover;
    background-position: top;
    width: 28rem;
    height: 30rem;

    @include media-breakpoint-up(landscapePhone) {
      margin: 0 auto;
      width: 34rem;
      height: 37rem;
    }

    @include media-breakpoint-up(landscapeTablet) {
      margin-left: 8rem;
    }

    @include media-breakpoint-up(laptop) {
      margin-left: 10rem;
      width: 40rem;
      height: 43rem;
    }

    @include media-breakpoint-up(desktop) {
      margin-right: 0;
      margin-left: 25rem;
    }
  }

  .description {
    max-width: 34rem;
    padding: 2rem;

    @include media-breakpoint-up(landscapePhone) {
      margin: 0 auto;
    }

    @include media-breakpoint-up(landscapeTablet) {
      margin-left: -5rem;
    }

    @include media-breakpoint-up(laptop) {
      padding-top: 11rem;
      max-width: 40rem;
      margin-left: -15rem;
    }

    @include media-breakpoint-up(desktop) {
      margin-left: 3rem;
    }

    h2 {
      font-size: 6rem;
      margin-bottom: 1rem;
    }
  }

  .cv {
    font-size: 2.2rem;
    margin-top: 2rem;

    &:hover {
      transform: scale(1.1);
    }
  }

  .technologies {
    font-size: 2.2rem;
    margin: 2rem 0;
    display: block;

    .tech-heading {
      margin-bottom: 1rem;
    }
  }

}
