.projects {
  position: relative;

  @include media-breakpoint-up(landscapeTablet) {
    margin-top: 20rem;
  }

  @include media-breakpoint-up(laptop) {
    display: flex;
    margin: 5rem;
    flex-direction: row;
  }

  &::before {
    content: '';
    background: $color-grey;
    width: 35rem;
    height: 181rem;
    position: absolute;
    top: 0;
    right: 1rem;
    z-index: -1;

    @include media-breakpoint-up(landscapePhone){
      width: 38rem;
      height: 185rem;
      right: 0;
    }

    @include media-breakpoint-up(portraitTablet) {
      width: 48rem;
      height: 91rem;
    }

    @include media-breakpoint-up(laptop) {
      height: 141rem;
      width: 60rem;
      right: -5rem;
      top: 8rem;
    }

    @include media-breakpoint-up(desktop) {
      height: 100rem;
    }
  }

  .project-heading {
    margin: 0 12rem;
    padding: 2rem;

    @include media-breakpoint-up(landscapePhone) {
      margin: 0 20rem;
    }

    @include media-breakpoint-up(phablet) {
      margin: 0 32rem;
    }

    @include media-breakpoint-up(portraitTablet) {
      transform: rotate(90deg);
      position: absolute;
      right: -30rem;
      top: 29rem;
    }

    @include media-breakpoint-up(laptop) {
      top: 35rem;
    }

    @include media-breakpoint-up(desktop) {
      right: -35rem;
    }

    &::before {
      content: '';
      background: #000;
      height: .2rem;
      width: 12rem;
      position: absolute;
      top: 3rem;
      right: 1rem;

      @include media-breakpoint-up(landscapePhone) {
        width: 16rem;
      }

      @include media-breakpoint-up(portraitTablet) {
        width: 26rem;
        right: 11rem;
      }

      @include media-breakpoint-up(laptop) {
        width: 24rem;
      }
    }

    &::after {
      content: '';
      background: #000;
      height: .2rem;
      width: 12rem;
      position: absolute;
      top: 3rem;
      left: 1rem;

      @include media-breakpoint-up(landscapePhone) {
        width: 11rem;
        left: 11rem;
      }

      @include media-breakpoint-up(phablet) {
        left: 23rem;
      }

      @include media-breakpoint-up(portraitTablet) {
        left: 11rem;
        width: 53rem;
      }

      @include media-breakpoint-up(laptop) {
        width: 105rem;
      }

      @include media-breakpoint-up(desktop) {
        width: 64rem;
      }
    }
  }
}

.project-list {
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2rem;
  max-width: 110rem;

  @include media-breakpoint-up(portraitTablet) {
    flex-direction: row;
    max-width: 70rem;
  }

  @include media-breakpoint-up(laptop) {
    margin: 10rem auto;
    max-width: 105rem;
  }
}

.project {
  width: 25rem;
  height: 25rem;
  margin: 2rem auto;
  border-radius: .2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media-breakpoint-up(portraitTablet) {
    margin: 2rem;
  }

  @include media-breakpoint-up(laptop) {
    width: 30rem;
    height: 30rem;

    &::before {
      content: '';
      background: #000;
      width: .2rem;
      height: 14rem;
      position: absolute;
      bottom: -9rem;
      right: 15rem;
    }

    &:hover {
      outline: .2rem solid $color-black;

      &::after {
        width: 30rem;
        height: 30rem;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        background: rgba($color-grey, .7);
      }
    }

    &:hover .project-link {
      display: block;
    }

    &:hover .project-title {
      transform: scale(1.2);
    }
  }

  .project-title {
    text-transform: uppercase;
    font-weight: 500;
    font-family: $font-primary;
    font-size: 2rem;
    margin-top: 27rem;

    @include media-breakpoint-up(laptop) {
      position: absolute;
      bottom: -11rem;
      right: 8rem;
    }
  }

  .project-link {

    @include media-breakpoint-up(laptop) {
      display: none;
      margin: 0 auto;
      padding: 1rem;
      z-index: 2;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  .icon {
    font-size: 2rem;
    position: absolute;
    bottom: -2rem;
    right: 0;

    @include media-breakpoint-up(laptop) {
      font-size: 4rem;
      position: initial;
      margin: 0 auto;
    }
  }

  .icon--layout {
    position: absolute;
    right: 2rem;

    @include media-breakpoint-up(laptop) {
      position: initial;
      margin: 0 auto;
    }
  }
}

.project-1 {
  background-image: linear-gradient(to bottom, rgba($color-purple, .2), rgba($color-grey, .2)),
    url(./../../images/animaldrums.png);
  background-size: cover;
  background-position: center;
}

.project-2 {
  background-image: linear-gradient(to bottom, rgba($color-purple, .2), rgba($color-grey, .2)),
    url(./../../images/memory.png);

  background-size: cover;
  background-position: center;

  @include media-breakpoint-up(laptop) {
    margin-top: 4rem;
  }
}

.project-3 {
  background-image: linear-gradient(to bottom, rgba($color-purple, .2), rgba($color-grey, .2)),
    url(./../../images/ghost.png);
  background-size: cover;
  background-position: center;

  @include media-breakpoint-up(laptop) {
    margin-top: 10rem;
  }

  @include media-breakpoint-up(desktop) {
    margin-top: 6rem;
  }
}

.project-4 {
  background-image: linear-gradient(to bottom, rgba($color-purple, .2), rgba($color-grey, .2)),
    url(./../../images/aspf.png);
  background-size: cover;
  background-position: center;

  @include media-breakpoint-up(laptop) {
    margin-top: 12rem;
  }
}

.project-5 {
  background-image: linear-gradient(to bottom, rgba($color-purple, .2), rgba($color-grey, .2)),
    url(./../../images/camp.png);
  background-size: cover;
  background-position: center;

  @include media-breakpoint-up(laptop) {
    margin-top: 14rem;
  }
}

.project-6 {
  background-image: linear-gradient(to bottom, rgba($color-purple, .2), rgba($color-grey, .2)),
    url(./../../images/survival.png);
  background-size: cover;

  @include media-breakpoint-up(laptop) {
    margin-top: 16rem;
  }
}
