$font-primary: 'Barlow Semi Condensed', sans-serif;
$font-secondary: 'Rozha One', serif;

//colors
$color-purple: #CDBAC0;
$color-grey:  #EEEEEE;
$color-pink: #FDD8CF;
$color-black: #343434;
$dark-purple: #baa0a8;
