html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: $font-secondary;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: $font-primary;
  font-size: 2rem;
  text-transform: uppercase;
}

p {
  font-size: 1.6rem;
}
